extends layout 
block content 
    h1 Abbonamento di #{abbonamento.nome} #{abbonamento.descrizione}
    p Id: #{abbonamento.id}
    p Nome: #{abbonamento.nome}
    p Cognome: #{abbonamento.cognome}
    p Data Nascita: #{abbonamento.dataNascita.toDateString()}
    p Tipo Abbonamento: #{abbonamento.tipoAbbonamento}
    p Extraurbano: #{abbonamento.isExtraurbano}
    p Studente: #{abbonamento.isStudente}
    p Prezzo #{prezzo}

    if isCompleanno 
        p Buon compleanno! Green Mobility ti fa gli auguri

